<div class='row dashboard-row'>
    <aside class='col-xs-4 col-sm-3 col-md-3'>
      <p class="centered">
        <h1 class='bello'>CompassAE Cloud9 Manager</h1>
        <button class="btn btn-block btn-lg btn-primary" ng-click="blankWorkspace()"><i class='fa fa-plus'></i>&nbsp;Clone workspace</button>
      </p>
      <ul class="menu-list">
        <li ng-click="runWorkspace(workspace.name)" ng-repeat="workspace in workspaces" ng-class="{active: currentWorkspace.name == workspace.name}">
          <a href="" title="DELETE this workspace irreversibly!" ng-click="deleteWorkspace(workspace.name)" class="topcoat-icon-button--large delete"><i class='fa fa-trash-o'></i></a>
          <span>{{workspace.name}}</span>
        </li>
      </ul>
    </aside>
    <div class="col-xs-8 col-sm-9 col-md-9 workspace-wrapper">
        <section class='workspace-details' ng-hide="!currentWorkspace || currentWorkspace.editing">
            <header>
                <h1 ng-show="currentWorkspace.name === ''">New Workspace</h1>
                <h1><span style="margin-left: 50px;" ng-hide="!currentWorkspace.user">{{currentWorkspace.user}}&nbsp;/&nbsp;</span>{{currentWorkspace.name}}</h1>
            </header>
            <section class="workspace-bar" ng-hide="!currentWorkspace.url">
                <!-- <a ng-click="startEditing()" class="btn btn-success">Start Editing</a> -->
                <a ng-click="launchWorkspace()" class="btn btn-success">Launch Workspace</a>
            </section>
            <section class='workspace-form'>
                <div class="form-group">
                    <label>Workspace name</label>
    	        	<input type="text" placeholder="Inactive" class="form-control" value="{{currentWorkspace.name}}" ng-model="currentWorkspace.name" placeholder="name" />
            	</div>
            </section>
            <section class='workspace-form-footer' ng-hide="currentWorkspace.url">
                <button class="btn btn-lg btn-default" ng-click="saveWorkspace()"><i class='fa fa-save'></i>&nbsp;Save</button>
            </section>
        </section>
        
    </div>
</div>
